<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0">
<head>
#parse("/templates/default-index-header.vm")
</head>
<body>

#parse("/templates/default-index-body.vm")

#parse("/templates/default-index-footer.vm")

</body>
</html>