    <table class="description">
      <tr><th width="25%">Endpoint</th><th>Query</th><th>Query Type</th><th>Provider</th></tr>
#foreach ($query_bundle in $query_bundles)
#if ($velocityCount % 2 == 0)
#set ($odd_even = "tr_even")
#else
#set ($odd_even = "tr_odd")
#end
#set ($tempQueryTypeKey = $query_bundle.queryType.getKey())
#set ($xmlEncoded_queryTypeKey = $tempQueryTypeKey.stringValue())
#set ($tempProviderKey = $query_bundle.provider.getKey())
#set ($xmlEncoded_providerKey = $tempProviderKey.stringValue())
    
    #foreach ($endpoint in $query_bundle.alternativeEndpointsAndQueries.keySet())
      <tr class="$odd_even">
			#set ($xmlEncoded_endpoint = $endpoint)
	      	<td>
	      		$xmlEncoded_endpoint
      		</td>
			#set ($xmlEncoded_query = $query_bundle.alternativeEndpointsAndQueries.get($endpoint))
	      	<td>
	      		$xmlEncoded_query
	      	</td>
	        <td class="provider">
	            $xmlEncoded_providerKey
	        </td>
	        <td class="queryType">
	            $xmlEncoded_queryTypeKey
	        </td>
      </tr>
    #end
#end
    </table>