<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0">
  <head>
#if ($debugStrings)
#foreach ($debugString in $debugStrings)
$debugString
#end
#end
#set ($xmlEncoded_server_base = $server_base)
#set ($xmlEncoded_project_name = $project_name)
#set ($xmlEncoded_project_link = $project_link)

    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="${xmlEncoded_server_base}static/includes-css/html_page_styles.css" />
    <script type="text/javascript" src="${xmlEncoded_server_base}static/includes-scripts/script.js"></script>
  </head>
  <body onload="init();">
    <div id="header">
      <div class="clearboth">
        <div id="homelink"><a href="$xmlEncoded_project_link">$xmlEncoded_project_name</a></div>
    </div>

<div id="errorMessage">
#if ($namespaceRecognised == false)
The request did not succeed because a namespace in the query was not recognised.
#elseif ($queryKnown == false)
The request did not succeed because the query was not recognised.
#else
The system did not successfully complete your request for an unknown reason.
#end
</div>

    <div id="footer">
#if ($application_name && $application_help)
#set ($xmlEncoded_application_name = $application_name)
#set ($xmlEncoded_application_help = $application_help)
Powered by <a href="$xmlEncoded_application_help">$xmlEncoded_application_name</a>
#end
    </div>
  </body>
</html>