#set ($has_text = false)
    <div id="footer">
#if($application_name && $application_help)
#set ($xmlEncoded_application_name = $application_name)
#set ($xmlEncoded_application_help = $application_help)
Powered by <a href="$xmlEncoded_application_help">$xmlEncoded_application_name</a>
#set ($has_text = true)
#end
#if ($rdfxml_link)
#if ($has_text)
      |
#end
      <a href="$xmlEncoded_rdfxml_link">View as RDF/XML</a>
#set ($has_text = true)
#end
#if ($rdfn3_link)
#if ($has_text)
      |
#end
      <a href="$xmlEncoded_rdfn3_link">View as N3</a>
#set ($has_text = true)
#end
#if ($html_link)
#if ($has_text)
      |
#end
      <a href="$xmlEncoded_html_link">View as HTML</a>
#set ($has_text = true)
#end
#if ($json_link)
#if ($has_text)
      |
#end
      <a href="$xmlEncoded_json_link">View as JSON</a>
#set ($has_text = true)
#end
    </div>
  </body>
</html>