<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0">
#if ($debugStrings)
#foreach ($debugString in $debugStrings)
$debugString
#end
#end
  <head>
#set ($xmlEncoded_title = $title)
#set ($xmlEncoded_uri = $uri)
#set ($xmlEncoded_project_name = $project_name)
#set ($xmlEncoded_project_link = $project_link)
#set ($xmlEncoded_server_base = $server_base)
#set ($xmlEncoded_query_string = $query_string)
#set ($xmlEncoded_shortcut_icon = $shortcut_icon)

    <title>$xmlEncoded_title | $xmlEncoded_project_name</title>
	<link rel="shortcut icon" href="${xmlEncoded_server_base}${xmlEncoded_shortcut_icon}">

#if ($rdfxml_link)
#set ($xmlEncoded_rdfxml_link = $rdfxml_link)
    <link rel="alternate" type="application/rdf+xml" href="$xmlEncoded_rdfxml_link" title="RDF/XML alternate representation" />
#end
#if ($rdfn3_link)
#set ($xmlEncoded_rdfn3_link = $rdfn3_link)
    <link rel="alternate" type="text/rdf+n3" href="$xmlEncoded_rdfn3_link" title="RDF/N3 alternate representation" />
#end
#if ($html_link)
#set ($xmlEncoded_html_link = $html_link)
    <link rel="alternate" type="text/html" href="$xmlEncoded_html_link" title="HTML alternate representation" />
#end
#if ($json_link)
#set ($xmlEncoded_json_link = $json_link)
    <link rel="alternate" type="application/json" href="$xmlEncoded_json_link" title="JSON alternate representation" />
#end
    <link rel="canonical" href="${xmlEncoded_uri}" />
#if ($previouspagelink && $previouspagelabel)
#set ($xmlEncoded_previouspagelink = $previouspagelink)
#set ($xmlEncoded_previouspagelabel = $previouspagelabel)
    <link rel="prev" href="$xmlEncoded_previouspagelink" />
#end
#if ($nextpagelink && $nextpagelabel)
#set ($xmlEncoded_nextpagelink = $nextpagelink)
#set ($xmlEncoded_nextpagelabel = $nextpagelabel)
    <link rel="next" href="$xmlEncoded_nextpagelink" />
#end
    <link rel="stylesheet" type="text/css" href="${xmlEncoded_server_base}static/includes-css/html_page_styles.css" />
    <script type="text/javascript" src="${xmlEncoded_server_base}static/includes-scripts/script.js"></script>
  </head>
  <body onload="init();">
    <div id="header">
      <div class="clearboth">
        <h1 id="title">$xmlEncoded_title</h1>
        <div id="homelink">at <a href="$xmlEncoded_project_link">$xmlEncoded_project_name</a></div>
        <div id="searchbox">
            <form name="searchform" action="${xmlEncoded_server_base}noscript/search/" onsubmit="document.location=${xmlEncoded_server_base}search/'+searchform.searchterm.value;return false;" method="get">
                <input type="text" name="searchterm" size="30" maxlength="150" />
                <input type="submit" name="search" value="Search" />
            </form>
        </div>
#if ($is_plainnsid)
#set ($xmlEncoded_namespace = $namespace)
#set ($xmlEncoded_identifier = $identifier)
        <div id="linksnsbox">
            <form name="linksnsform" action="${xmlEncoded_server_base}noscript/linksns/" onsubmit="document.location=${xmlEncoded_server_base}linksns/'+linksnsform.linksns.value+'/$xmlEncoded_query_string';return false;" method="get">
                <label for="linksnsinput">Links Namespace</label>
                <input type="text" id="linksnsinput" name="linksns" size="30" maxlength="150" />
                <input type="hidden" name="nsid" value="$xmlEncoded_query_string" />
                <input type="submit" name="linksnssubmit" value="Find links in namespace" />
            </form>
        </div>
        <div id="linksbox">
            <a href="${xmlEncoded_server_base}links/$xmlEncoded_query_string">Find global links</a>
        </div>
        <div id="intranamespacelinksnsbox">
            <a href="${xmlEncoded_server_base}linksns/$xmlEncoded_namespace/$xmlEncoded_query_string">Find intranamespace links</a>
        </div>
#end
      </div>
      <div class="clearboth">
#if ($uri)
      <div class="page-resource-uri"><a href="$xmlEncoded_uri">$xmlEncoded_uri</a></div>
#end
    </div>
</div>
<div id="navigationlinks">
#if ($previouspagelink && $previouspagelabel)
	<span id="leftNav"><a href="$xmlEncoded_previouspagelink">Back to page $xmlEncoded_previouspagelabel</a></span>
#end

#if ($nextpagelink && $nextpagelabel)
	<span id="rightNav"><a href="$xmlEncoded_nextpagelink">Forward to page $xmlEncoded_nextpagelabel</a></span>
#end
</div>